body{
  padding: 0;
  margin: 0;
  background-color: #eee;
}

h1{
  color:green;
  font-family: 'Courier New', Courier, monospace;
}

.form{
  width: 100%;
  border:2px solid green;
  border-radius: 30px;
  max-width: 720px;
  margin:0  auto;
  margin-top: 50px;
  padding: 50px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 25px;
  color:green
}

.form input{
  width:250px;
  padding: 5px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;

}

.form button{
  margin-top: 10px;
  width: 100px;
  padding: 2px 5px;
  font-size: 20px;
  color:green;
  border-color: green;
  border-radius: 10px;
}
